@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-foreground: #e5e2e1;
  --color-card: #18181b;
  --color-border: #27272a;
  --color-accent: #00f2ff;
  --color-accent-foreground: #00363a;
  --color-muted: #3f3f46;
  --color-muted-foreground: #a1a1aa;
}

@layer base {
  body { @apply bg-background text-foreground; }
}
